In [2]:
import asyncio
from pyppeteer import launch
import csv
import pandas as pd
import re
from datetime import date
import os
from google.cloud import bigquery
import pyodbc
from sqlalchemy import create_engine
import psycopg2

In [3]:
job_df=None

In [5]:
####test fields
async def scrape_indeed(search_title,search_location):
    global job_df
    global job_listings
    browser = await launch(headless=False)
    page = await browser.newPage()


    await page.goto('https://www.indeed.com')

    # Wait for 5 seconds
    await asyncio.sleep(5) 
    # Input job title
    await page.type('input[name="q"]', search_title)

     # Clear the default location
    location_input_selector = 'input[name="l"]'
    await page.click(location_input_selector, {'clickCount': 3})  # Triple click to select all text
    await page.keyboard.press('Backspace')  # Clear the text

    # Input new location
    await page.type(location_input_selector, search_location)

    # Click search button
    await page.click('button[type="submit"]')
    # Wait for 5 seconds
    await asyncio.sleep(5) 


    # Apply "Date Posted" filter for "Last 3 days"
    await page.waitForSelector('#filter-dateposted', {'visible': True})
    await page.click('#filter-dateposted')

    # Wait for the dropdown to become visible and select the "Last 3 days" option
    await page.waitForSelector('a[href*="&fromage=3"]', {'visible': True})
    await page.click('a[href*="&fromage=3"]')
    await asyncio.sleep(3) 
    #select 100 miles radius
    await page.waitForSelector('#filter-radius',{'visible':True})
    await page.click('#filter-radius')
    await page.waitForSelector('a[href*="&radius=100"]',{'visible':True})
    await page.click('a[href*="&radius=100"]')


    # Max go to 10 pages
    num_pages=10
    job_info={
        'title':[],
        'company':[],
        'location':[],
        'post_date': [],
        'rating':[],
        'salary':[],
        'job_link':[],
        'jd':[]
    }

    for pg in range(num_pages):


            

        # Wait for 5 seconds
        await asyncio.sleep(5) 

        job_listings = await page.querySelectorAll('.job_seen_beacon')
        
        for job in job_listings:
            # Extract the job title
            try:
                title_element = await job.querySelector('h2.jobTitle span[title]')
                title = await page.evaluate('(element) => element.textContent', title_element)
            except Exception as e:
                title="Not Found"


            # Extract the company name
            try:
                company_element = await job.querySelector('div.company_location [data-testid="company-name"]')
                company = await page.evaluate('(element) => element.textContent', company_element)
            except Exception as e:
                company="Not Found"

            # Extract jd
            try:
                jd_element = await job.querySelector('div.underShelfFooter div ul')
                jd = await page.evaluate('(element) => element.textContent', jd_element)
            except Exception as e:
                jd="Not Found"

            # Get job link
            try:
                job_element = await job.querySelector('h2.jobTitle a')
                job_link = await page.evaluate('(element) => element.getAttribute("href")', job_element)
            except Exception as e:
                job_link="Not Found"


            # Extract the rating
            try:
                rating_element = await job.querySelector('div.company_location span [data-testid="holistic-rating"]')
                rating = await page.evaluate('(element) => element.textContent', rating_element)
            except Exception as e:
                rating="Not Found"

            # Extract the date
            try:
                date_element = await job.querySelector('div.underShelfFooter [data-testid="myJobsStateDate"]')
                post_date = await page.evaluate('(element) => element.textContent', date_element)
            except Exception as e:
                post_date="Not Found"

            # Extract the salary
            try:
                salary_element = await job.querySelector('div.jobMetaDataGroup [data-testid="attribute_snippet_testid"]')
                salary = await page.evaluate('(element) => element.textContent', salary_element)
            except Exception as e:
                salary="Not Found"

            # Extract the location
            location_element = await job.querySelector('div.company_location [data-testid="text-location"]')
            location = await page.evaluate('(element) => element.textContent', location_element)


            job_info['title'].append(title)
            job_info['company'].append(company)
            job_info['location'].append(location)
            job_info['post_date'].append(post_date)
            job_info['rating'].append(rating)
            job_info['salary'].append(salary)
            job_info['job_link'].append(job_link)
            job_info['jd'].append(jd)

            #click for next page
        try:
            await page.waitForSelector('nav [data-testid="pagination-page-next"]')
            await page.click('nav [data-testid="pagination-page-next"]')
        except Exception as e:
            print("no more page")
            break
        
        

    job_df=pd.DataFrame.from_dict(job_info)

    await browser.close()

In [6]:
search_title="Data Analyst"
search_location="Dallas, TX"
await scrape_indeed(search_title,search_location)

no more page

In [7]:
job_df

,title,company,location,post_date,rating,salary,job_link,jd
0,"Department Data Analyst, HRPP",UT Southwestern,"Dallas, TX 75390 (Design District area)",PostedPosted 2 days ago,Not Found,Not Found,/rc/clk?jk=e12fd18049322537&bb=nRX_YUKmXCX63F0...,"\n Abstracts data, reconciles data inconsiste..."
1,Big Data Analyst,Southwest Airlines,"Hybrid work in Dallas, TX 75235",PostedJust posted,Not Found,Not Found,/rc/clk?jk=089f5757edb2924e&bb=nRX_YUKmXCX63F0...,\n Drives complex self-service data integrati...
2,Business Analyst,Copart,"Dallas, TX 75254 (Far North area)",PostedPosted 1 day ago,Not Found,Not Found,/rc/clk?jk=219c2345d88b3a3a&bb=nRX_YUKmXCX63F0...,"\n Interpret data, analyze results using stat..."
3,Data Analyst,truecent Solutions,"Dallas, TX 75254 (Far North area)",EmployerActive 2 days ago,Not Found,Not Found,/rc/clk?jk=6349378c08da61a6&bb=nRX_YUKmXCX63F0...,\n Data analysts will develop analysis and re...
4,Insurance Underwriting Data Analyst,State Farm,"Richardson, TX 75080",PostedJust posted,Not Found,Full-time,/rc/clk?jk=e1d27ee40c2b556b&bb=nRX_YUKmXCX63F0...,\n Assist with data analysis and ad hoc data ...
5,Strategic Business Analyst - Operational Excel...,Acosta,"Dallas, TX 75219 (Oak Lawn area)",PostedJust posted,Not Found,"$52,200 - $65,200 a year",/rc/clk?jk=0ccc7a291a528ce9&bb=nRX_YUKmXCX63F0...,\n Research: Researchfinancial and operationa...
6,Data & Analytics - 5369602,Accenture,"Hybrid work in Irving, TX 75039",PostedJust posted,Not Found,Full-time,/rc/clk?jk=28dfbc2822da49c8&bb=nRX_YUKmXCX63F0...,\n Minimum 3 years of experience in Microsoft...
7,Helium Business Analyst,Matheson,"Irving, TX 75039 (Las Colinas Urban Center area)",PostedPosted 1 day ago,Not Found,"$70,000 - $80,000 a year",/rc/clk?jk=bc169bc5782e39a5&bb=nRX_YUKmXCX63F0...,\n Provide data for review of monthly P&L.\n ...
8,Product Analyst,Berry Appleman & Leiden LLP,"Richardson, TX 75082",PostedJust posted,Not Found,Full-time,/rc/clk?jk=5d86f3aea1b9dcd5&bb=nRX_YUKmXCX63F0...,\n 3 – 5 years of experience working as a Bus...
9,Senior Analyst,"Vizient, Inc.","Remote in Irving, TX",PostedJust posted,Not Found,Not Found,/rc/clk?jk=0fc3c9d187055e7d&bb=nRX_YUKmXCX63F0...,\n Create data pipelines using Microsoft Azur...
10,Part-Time Parking Data Analyst,University of North Texas,"Denton, TX 76203",PostedJust posted,Not Found,"$24,700 a year",/rc/clk?jk=c85d58adaa5db962&bb=nRX_YUKmXCX63F0...,"\n Extracting data, cleaning data and databas..."
11,Junior Business Analyst,Techpoint LLC,"Dallas-Fort Worth, TX",PostedJust posted,Not Found,"$52,000 - $62,000 a year",/rc/clk?jk=9fe23b524d727a73&bb=nRX_YUKmXCX63F0...,\n Assist in the collection and analysis of d...
12,Data Analyst,Catapult Mineral Partners,"Plano, TX 75024",PostedPosted 1 day ago,Not Found,Not Found,/rc/clk?jk=27869d6dec90c49b&bb=nRX_YUKmXCX63F0...,\n Minimum 5 years of proven experience as a ...
13,Business Analyst,Reeder Distributors,"Fort Worth, TX 76119 (South East area)",PostedPosted 1 day ago,Not Found,"$70,000 a year",/rc/clk?jk=8d7a2032f4a0fe20&bb=nRX_YUKmXCX63F0...,\n Proven experience as a data or business an...
14,Pharmacy Data Analyst,"Lockton, Inc.","Dallas, TX",PostedJust posted,Not Found,Full-time,/rc/clk?jk=87643982a2a935ee&bb=nRX_YUKmXCX63F0...,\n Integrate data from multiple data sets int...
15,Senior Classification and Trade Data Analyst,BOEING,"Hybrid work in Dallas, TX",PostedPosted 1 day ago,Not Found,"$106,250 - $143,750 a year",/rc/clk?jk=e36dea5fb420f759&bb=7RlXvbWSk2USoKH...,\n Experience with SQL coding; experience usi...
16,"SaaS Technical Business Analyst, API/Portal",Wellfit Technologies Inc.,"Hybrid work in Irving, TX 75039",PostedPosted 1 day ago,Not Found,"From $120,000 a year",/rc/clk?jk=6ffa0a145b5c20da&bb=7RlXvbWSk2USoKH...,\n Full-cycle business analyst lifecycle: 5 y...
17,Business Analyst/ Data Analyst -TX - Arlington,ATC,"Arlington, TX",PostedPosted 2 days ago,Not Found,Full-time,/rc/clk?jk=d718dedacddb2def&bb=7RlXvbWSk2USoKH...,"\n Entry Level expertise in gathering, analyz..."
18,Business Analyst III,"Agora Data, Inc.","Arlington, TX 76013 (East area)",PostedJust posted,Not Found,Full-time,/rc/clk?jk=36b4362491993d8a&bb=7RlXvbWSk2USoKH...,\n 3-4 years of experience as a business anal...
19,Business Analyst,Tech Intellectuals,"Fort Worth, TX",EmployerActive 2 days ago,Not Found,Not Found,/rc/clk?jk=94cd205835d18380&bb=7RlXvbWSk2USoKH...,\n Experience with data analysis and making d...
20,"Associate Analyst, ROC Quality Improvement",Pacific Dental Services,"Irving, TX 75063 (Cottonwood area)",PostedPosted 1 day ago,Not Found,Full-time,/rc/clk?jk=ed9a7b4bd2bb5465&bb=7RlXvbWSk2USoKH...,\n Perform database queries to validate test ...
21,Analyst - Finance,Sunoco,"Dallas, TX",PostedPosted 1 day ago,Not Found,Not Found,/rc/clk?jk=7ccd12f284fa7b1a&bb=7RlXvbWSk2USoKH...,\n Minimum 2-5 years of relevant work experie...
22,"AVP, Analytics",Bank OZK,"Dallas, TX",PostedPosted 2 days ago,Not Found,Full-time,/rc/clk?jk=a350db4f51b96691&bb=7RlXvbWSk2USoKH...,\n Minimum of three (3) years’ experience dev...
23,Automated Logistics Analyst,"RLM Communications, Inc","Seagoville, TX",PostedPosted 1 day ago,Not Found,"$59,000 a year",/rc/clk?jk=f3977071b2b4f55a&bb=7RlXvbWSk2USoKH...,\n Analyzes data processing requirements to p...
24,Business Intelligence Analyst II - Ecommerce,Mouser Electronics,"Mansfield, TX 76063",PostedJust posted,Not Found,Not Found,/rc/clk?jk=b1a9c0f3612cd949&bb=7RlXvbWSk2USoKH...,"\n Some understanding of data governance, dat..."
25,"IT Business Lead Analyst, VP (Hybrid)",Citi,"Irving, TX",PostedJust posted,Not Found,"$114,720 - $172,080 a year",/rc/clk?jk=7e3b8fd3a63fcd3e&bb=7RlXvbWSk2USoKH...,\n The Technology Lead Business Analyst is a ...
26,Business Intelligence Consultant,Verizon,"Irving, TX",PostedPosted 2 days ago,Not Found,Not Found,/rc/clk?jk=e31e0b4aec962639&bb=7RlXvbWSk2USoKH...,\n You’ll be analyzing data and creating data...
27,ERP Business Analyst,Arthur Grand Technologies Inc,"Garland, TX",PostedPosted 1 day ago,Not Found,Not Found,/rc/clk?jk=153bf94ee675686c&bb=7RlXvbWSk2USoKH...,\n Minimum 5 years related IT experience with...
28,Senior Business Analyst,Copart,"Dallas, TX 75254 (Far North area)",PostedPosted 1 day ago,Not Found,Not Found,/rc/clk?jk=b6c14e5627457277&bb=7RlXvbWSk2USoKH...,"\n Strong analytical skills, with proficiency..."
29,Business Analyst I,"Agora Data, Inc.","Arlington, TX 76013 (East area)",PostedJust posted,Not Found,Full-time,/rc/clk?jk=0998f99c56d40b69&bb=7RlXvbWSk2USoKH...,\n Identify and resolve data discrepancies us...
30,Senior BI Programmer Analyst,GoodLeap,"Plano, TX 75024",PostedJust posted,Not Found,"$137,000 - $160,000 a year",/rc/clk?jk=fcc4e169f7c6c552&bb=d3m-ifgNlPiPD9K...,"View all GoodLeap jobs in Plano, TX - Plano jo..."
31,Data Analyst - Data Scientist,Capgemini,"Dallas, TX",PostedPosted 2 days ago,Not Found,Full-time,/rc/clk?jk=51ad77a8382825fa&bb=d3m-ifgNlPiPD9K...,"View all Capgemini jobs in Dallas, TX - Dallas..."
32,Business Insight Analyst III (Remote based in US),Conifer Revenue Cycle Solutions,"Remote in Frisco, TX",PostedJust posted,Not Found,"$73,632 - $117,728 a year",/rc/clk?jk=a02b14477f1fe22e&bb=d3m-ifgNlPiPD9K...,View all Conifer Revenue Cycle Solutions jobs ...
33,Accounts Payable Analyst (PTX2024-7182),RealManage,"Plano, TX 75093",EmployerActive 2 days ago,Not Found,$22.00 - $26.50 an hour,/rc/clk?jk=19ce3b8e4619e4d1&bb=d3m-ifgNlPiPD9K...,"View all RealManage jobs in Plano, TX - Plano ..."
34,Senior Data Analyst - Level 3,Lockheed Martin,"Fort Worth, TX 76137 (Far North area)",PostedPosted 1 day ago,Not Found,Full-time,/rc/clk?jk=31bcbb74e608c8d3&bb=d3m-ifgNlPiPD9K...,"View all Lockheed Martin jobs in Fort Worth, T..."
35,ERP Business Analyst (Sage X3),Arthur Grand Technologies Inc,"Garland, TX 75040",PostedJust posted,Not Found,Full-time,/rc/clk?jk=d7e9bccc45e1fdb4&bb=d3m-ifgNlPiPD9K...,View all Arthur Grand Technologies Inc jobs in...
36,Sr. BI Analyst,Republic National Distributing Company,"Grand Prairie, TX 75050",PostedPosted 1 day ago,Not Found,Not Found,/rc/clk?jk=48d3540de974c820&bb=d3m-ifgNlPiPD9K...,View all Republic National Distributing Compan...
37,Lead Analytics Consultant,Wells Fargo,"Dallas, TX",PostedPosted 1 day ago,Not Found,Full-time,/rc/clk?jk=b5e0965e62261750&bb=d3m-ifgNlPiPD9K...,"View all Wells Fargo jobs in Dallas, TX - Dall..."
38,Loan IQ IT Business Lead Analyst Vice President,Citi,"Irving, TX",PostedPosted 1 day ago,Not Found,"$114,720 - $172,080 a year",/rc/clk?jk=0bd8ad811685e836&bb=d3m-ifgNlPiPD9K...,"View all Citi jobs in Irving, TX - Irving jobs..."
39,GIS Analyst,Town of Little Elm,"Little Elm, TX 75068",PostedPosted 2 days ago,Not Found,Not Found,/rc/clk?jk=3c1f387b56636755&bb=d3m-ifgNlPiPD9K...,View all Town of Little Elm jobs in Little Elm...
40,Treasury Financial Analyst,COMTEC INFORMATION SYSTEMS,"Plano, TX 75024",EmployerActive 2 days ago,Not Found,Not Found,/rc/clk?jk=93d583824975cf2e&bb=d3m-ifgNlPiPD9K...,View all COMTEC INFORMATION SYSTEMS jobs in Pl...
41,Lead Financial Analyst – Pipeline Revenue,Sunoco,"Dallas, TX",PostedPosted 2 days ago,Not Found,Not Found,/rc/clk?jk=1ceb19caa60c39a0&bb=d3m-ifgNlPiPD9K...,"View all Sunoco jobs in Dallas, TX - Dallas jo..."
42,Senior Analyst IT Service Management,Southern Glazer’s Wine and Spirits,"Dallas, TX 75254 (Far North area)",PostedPosted 1 day ago,Not Found,Not Found,/rc/clk?jk=df6445b08d227013&bb=d3m-ifgNlPiPD9K...,View all Southern Glazer’s Wine and Spirits jo...
43,Senior Lead Data Management Analyst - L3 Produ...,Wells Fargo,"Hybrid work in Addison, TX",PostedJust posted,Not Found,Full-time,/rc/clk?jk=44fe78e411f35ae7&bb=d3m-ifgNlPiPD9K...,"View all Wells Fargo jobs in Addison, TX - Add..."
44,Sr. Dynamics 365 Business Analyst,Thorn Network,"Hybrid work in Frisco, TX 75034",EmployerActive 2 days ago,Not Found,Full-time,/pagead/clk?mo=r&ad=-6NYlbfkN0CHyB4-NNIsQz3hzB...,Not Found
45,Senior Accounting Analyst,Service Experts,"Richardson, TX 75081",PostedPosted 1 day ago,Not Found,Full-time,/rc/clk?jk=7ab3aa1120ec90ef&bb=kVn54COAt060ry9...,\n Query data extractions from financial syst...
46,Senior Analytic Consultant - CR Analytics Weal...,Wells Fargo,"Irving, TX",PostedPosted 1 day ago,Not Found,Not Found,/rc/clk?jk=4f99009cb730336c&bb=kVn54COAt060ry9...,\n This role is focused on working with large...
47,CRV Senior Lead Analytics Consultant,Wells Fargo,"Irving, TX",PostedPosted 1 day ago,Not Found,Full-time,/rc/clk?jk=2f2797e985b91141&bb=kVn54COAt060ry9...,\n Must be able to work from one of the appro...

In [20]:
##click into each page to get job description and requriements
async def indeed_job_details(link_list):
    job_info={'text':[]}
    for link in link_list:
        browser = await launch(headless=False)
        page = await browser.newPage()


        await page.goto('https://www.indeed.com'+link)
        try:
            job_description=await page.querySelector('div [id="jobDescriptionText"]')
            job_text=await page.evaluate('(element) => element.textContent',job_description)
        except Exception as e:
            job_text='Not Found'
        job_info['text'].append(job_text)
        await browser.close()
    job_text=pd.DataFrame(job_info)
    return job_text

In [18]:
link_list=job_df['job_link'][0:3]
print(link_list)

0    /rc/clk?jk=e12fd18049322537&bb=nRX_YUKmXCX63F0...
1    /rc/clk?jk=089f5757edb2924e&bb=nRX_YUKmXCX63F0...
2    /rc/clk?jk=219c2345d88b3a3a&bb=nRX_YUKmXCX63F0...
Name: job_link, dtype: object

In [19]:
await indeed_job_details(link_list)

                                                text
0  Why UT Southwestern Medical Center? \n\n With ...
1  Department: Artificial Intelligence & Data Tra...
2  Copart is excited to introduce our Analyst Dev...

In [16]:
job_text

NameError: name 'job_text' is not defined

In [7]:
#function to parse salary range
def salary_limit(salary):
    matches=re.findall(r'\$([\d,]+(\.\d+)?)',salary)
    first = matches[0][0] if len(matches)>0 else None
    second = matches[1][0] if len(matches)>1 else None
    return first,second
#function to parse salary pay period
def salary_period(salary):
    if salary.endswith('hour'):
        return 'hourly'
    elif salary.endswith('month'):
        return 'monthly'
    elif salary.endswith('year'):
        return 'yearly'

In [8]:
job_df['pay_period']=job_df['salary'].apply(salary_period)

In [9]:
job_df[['salary_first','salary_second']]=job_df['salary'].apply(lambda x: pd.Series(salary_limit(x)))

In [10]:
job_df['salary_first']=job_df['salary_first'].str.replace(',','').astype(float)
job_df['salary_second']=job_df['salary_second'].str.replace(',','').astype(float)

In [11]:
job_df['post_date']=job_df['post_date'].str.replace("Posted","").str.replace("Employer","")

In [12]:
job_df['data_date']=date.today()

In [53]:
# connect to Bigquery
os.environ['GOOGLE_APPLICATION_CREDENTIALS']="/Users/haobomini/Documents/bigquery/job-searching-427504-ddb233f06575.json"

In [62]:
client=bigquery.Client()
table_id='job-searching-427504.job_scrape.indeed_jobs'
info=client.load_table_from_dataframe(job_df,table_id)

encounter errors

In [2]:
###### send data to postgres

In [2]:
engine = create_engine('postgresql+psycopg2://haobomini:3388069@localhost:5432/haobomini')

In [21]:
job_df.to_sql('job_list', engine, if_exists='append', index=False,schema='job_search')

In [7]:
### send data to Azure
# Azure SQL Database connection details
server = 'haobo.database.windows.net'
database = 'haobo'
username = 'CloudSAb4ee53f1'
password = 'Shb3388069!'

# Create SQLAlchemy engine
connection_string = (
    "mssql+pyodbc://CloudSAb4ee53f1:Shb3388069!@haobo.database.windows.net/haobo?driver='ODBC Driver 18 for SQL Server'"
)
engine = create_engine(connection_string, echo=False)

In [4]:
print(pyodbc.drivers())

[]

In [6]:
print(conn_str)

mssql+pyodbc://CloudSAb4ee53f1:Shb3388069!@haobo.database.windows.net/haobo?driver={ODBC Driver 18 for SQL Server}

# Example DataFrame
data = {
    'test1': [1, 2],
    'test2': [3, 4]
}
df = pd.DataFrame(data)

In [2]:


# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [8]:
df.to_sql('test',con=engine,if_exists='replace',index=False)

DBAPIError: (pyodbc.Error) ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib ''ODBC Driver 18 for SQL Server'' : file not found (0) (SQLDriverConnect)")
(Background on this error at: https://sqlalche.me/e/14/dbapi)